.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{margin:0;padding:0;outline:0;border:0;vertical-align:top}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}
.fancybox-skin{position:relative;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#fff;color:#444;text-shadow:none}
.fancybox-opened{z-index:8030}
.fancybox-outer,.fancybox-inner{position:relative}
.fancybox-inner{overflow:hidden}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{margin:0;padding:15px;color:#444;white-space:nowrap;font-size:14px}
.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}
.fancybox-image{max-width:100%;max-height:100%}
#fancybox-loading{position:fixed;top:50%;left:50%;z-index:8060;margin-top:-22px;margin-left:-22px;border-radius:4px;background-color:#000;opacity:.8;cursor:pointer}
#fancybox-loading div{width:44px;height:44px;background:url(images/fancybox_loading.gif) center center no-repeat}
.fancybox-close{position:absolute;top:-10px;right:-10px;z-index:8040;width:24px;height:24px;border-radius:100%;background:#fff;text-align:center;font-size:18px;cursor:pointer;background:url(images/icon.png)\9;background-position:0 0\9}
.fancybox-close:link,.fancybox-close:visited{color:#ccc}
.fancybox-close:hover{color:#0AA}
.fancybox-nav{position:absolute;top:0;z-index:8040;width:40%;height:100%;background:transparent url(images/blank.gif);text-decoration:none;cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;z-index:8040;visibility:hidden;margin-top:-18px;width:24px;height:24px;border-radius:100%;background:#fff;text-align:center;font-size:18px;opacity:0;cursor:pointer;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-o-transition:.3s ease-in-out;transition:.3s ease-in-out}
.fancybox-prev span{left:10px;background:url(images/icon.png)\9;background-position:0 -24px\9}
.fancybox-next span{right:10px;background:url(images/icon.png)\9;background-position:0 -48px\9}
.fancybox-nav:link,.fancybox-nav:visited{color:#ccc}
.fancybox-nav:hover span{visibility:visible;opacity:1}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;overflow:visible!important;max-width:99999px;max-height:99999px}
.fancybox-lock{overflow:hidden!important;width:auto}
.fancybox-lock body{overflow:hidden!important}
.fancybox-lock-test{overflow-y:hidden!important}
.fancybox-overlay{position:absolute;top:0;left:0;z-index:8010;display:none;overflow:hidden;background:url(images/fancybox_overlay.png)\9;background:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#66000000',endColorstr='#66000000')}
:root .fancybox-overlay{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#00000000',endColorstr='#00000000')}
.fancybox-overlay-fixed{position:fixed;right:0;bottom:0}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}
.fancybox-title{position:relative;z-index:8050;visibility:hidden;text-shadow:none;font-weight:normal;font-size:14px}
.fancybox-opened .fancybox-title{visibility:visible}
.fancybox-title-float-wrap{position:absolute;right:50%;bottom:0;z-index:8050;margin-bottom:-35px;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:transparent;background:rgba(0,0,0,0.8);color:#FFF;text-shadow:0 1px 2px #222;white-space:nowrap;font-weight:bold;line-height:24px}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:15px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;padding:10px;background:#000;background:rgba(0,0,0,.8);color:#fff}
@font-face{font-family:'icomoon';src:url('fonts/icomoon.eot');src:url('fonts/icomoon.eot') format('embedded-opentype'),url('fonts/icomoon.woff') format('woff'),url('fonts/icomoon.ttf') format('truetype'),url('fonts/icomoon.svg') format('svg')}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon',"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;speak:none}
[class^="icon-"]:before,[class*=" icon-"]:before{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-search:before{content:"\e600"}
.icon-star:before{margin-right:5px;content:"\e601";font-weight:bold}
.icon-like:before{margin-right:5px;content:"\e602"}
.icon-like2:before{margin-right:5px;content:"\e603"}
.icon-time:before{margin-right:5px;content:"\e604"}
.icon-author:before{margin-right:5px;content:"\e605"}
.icon-editor:before{margin-right:5px;content:"\e606"}
.icon-top:before{content:"\e607"}
.icon-close:before{content:"\e608"}
.icon-left:before{content:"\e609"}
.icon-right:before{content:"\e610"}
.icon-weibo:before{content:"\e611"}
.icon-tqq:before{content:"\e612";font-weight:bold}
.icon-weixin:before{content:"\e613"}
.icon-arrow-down:before{margin-right:5px;content:"\e60a"}
.icon-arrow-right:before{margin-right:5px;content:"\e60b"}
.icon-list:before{margin-right:5px;content:"\e60c"}
.icon-earth:before{margin-right:5px;content:"\e60d"}
.icon-question:before{margin-right:5px;content:"\e60e"}
.icon-cool:before{margin-right:5px;content: "\e60f"}